@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #faf5f7;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* for header section */

@media screen and (max-width: 897px) {
  .searchbar {
    width: 90%;
    position: absolute;
    top: 6rem;
  }
}

.nav .logoImage {
  @apply md:h-[4rem] md:w-[4rem];
}

/* for hero section */
